.comm_link{
    display: flex;
    width: 400px;
    height: 80px;
    background-color: rgba(41, 92, 231, 0.797);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    color: rgb(240, 240, 240);
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.comm_card {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.comm_link:hover {
    transform: translate3d(0px, -1px, 0px);
    box-shadow: 0px 4px 5px rgba(16, 42, 109, 0.5);
}

.comm_card > h4 {
    font-size: 19px;
}

.comm_link:nth-child(2), .comm_link:nth-child(4) {
    margin-left: 120px;
}

@media only screen and (max-width: 520px) {
    .comm_link {
        width: 100%;
    }
}

@media only screen and (max-width: 475px) {
    .comm_link:nth-child(2), .comm_link:nth-child(4) {
        margin-left: 0px;
    }
}