.about {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    background-image: url("../../images/about2.jpg");
    background-position: 40px 20px;  
    background-size: contain;
    background-repeat: no-repeat;
}

.about_pic {
    display: none;
}

.about_me {
    display: flex;
    flex-direction: column;
    width: 40%;  
    align-items: flex-end;
    padding: 10px;
    margin-right: 70px;
}

.about_me > h1 {
    font-size: 60px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.about_socials {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: -15px;
}

.icon {
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon:hover {
    margin-top: -15px;
}

.about_para {
    text-align: right;
    color: rgb(90, 90, 90);
    margin-top: 40px;
    font-weight: 400;
    font-size: 15px;
    width: 90%;
    line-height: 1.5em;
}


@media only screen and (max-width: 1290px){
    .about_para {
        width: 100%
    }

    .about_me {
        width: 35%; 
    }

    .about {
        background-position: -60px 0px;
    }

}

@media only screen and (max-width: 1200px) {
    .about_para > span:last-of-type{
        display: none;
    }

    .about_me {
        justify-content: center;
    }
}


@media only screen and (max-width: 982px) {
    .about {
        background-position: -20px 10px;
        background-size: contain;
        position: relative;
    }
    
    .about::before {
        position: absolute;
        content: "";
        width: 100%;
        display: flex;
        background-color: #858585;
        height: 100%;
        opacity: 0.1;
    }

    .about_me {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 950px)  {
    .about {
        background: none;
        height: auto;
        justify-content: start;
    }

    .about_me {
        width: 100%;
        align-items: center;
        justify-content: start;
    }

    .about_pic {
        display: block;
        width: 500px;
    }

    .about_pic > img {
        width: 100%;
    }

    .about_para > span:nth-child(1) {
        display: none;
    }

    .about_para {
        text-align: center;
        color: rgb(90, 90, 90);
        /* margin-top: 40px; */
        font-weight: 400;
        font-size: 15px;
        width: 100%;
        line-height: 1.5em;
        margin-top: -50px;
    }

}

@media only screen and (max-width: 430px) {
    .about_pic {
        display: block;
        width: 350px;
    }
    .about_me > h1 {
        font-size: 45px;
    }
}