.about {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    background-image: url("../../images/about2.jpg");
    background-position: 40px 20px;  
    background-size: contain;
    background-repeat: no-repeat;
}

.about_me {
    display: flex;
    flex-direction: column;
    width: 40%;  
    align-items: flex-end;
    padding: 10px;
    margin-right: 70px;
}

.about_me > h1 {
    font-size: 60px;
    letter-spacing: -1.5px;
    font-weight: 600;
}

.about_socials {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: -15px;
}

.icon {
    cursor: pointer;
    transition: all 0.2s ease;
}

.icon:hover {
    margin-top: -10px;
}

.about_para {
    text-align: right;
    color: rgb(90, 90, 90);
    margin-top: 40px;
    font-weight: 400;
    font-size: 15px;
    width: 90%;
    line-height: 1.5em;
}