.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    width: 100%;
    background-color: #3425bd;
    position: relative;    
    justify-content: flex-start;
}

.pre-footer {
    position: absolute;
    background-color: #fafaf6;
    top: -90px;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.pre-footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pre-footer > div > h1 {
    font-size: 60px;    
    color: rgb(64, 64, 64);
    cursor: pointer;
}

.pre-footer > div > h1:hover {  
    color: rgb(79, 79, 79); 
}

.pre-footer > div > button {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    color: aliceblue;
    background-color: rgb(51, 99, 231);
    cursor: pointer;
}

.footer_head {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-top:  120px;
}

.footer_head > h3 {
    color: rgb(226, 226, 226);
    font-size: 23px;
}

.footer_socials {
    width: 300px;
    color: aliceblue;
    margin-right: -30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.footer_main {
    display: flex;
    width: 80%;
    flex-direction: column;
    color: rgb(226, 226, 226);
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    /* text-align: center; */
}

.copyright {
    display: flex;
    align-items: center;
    color: rgb(226, 226, 226);
    margin-top: 20px;
    margin-bottom: 20px;
}

.copyright > p {
    margin-left: 7px;
}


@media only screen and (max-width: 770px){
    .pre-footer > div > h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px){ 
    .pre-footer > div > h1 {
        font-size: 40px;
    }
    .pre-footer {
        height: 150px;
    }
}   